<script type="text/javascript">
  (function($) {
	$(document).ready(function() {
		$('#wysiwyg').wysiwyg({
		  controls: {
			bold          : { visible : true },
			italic        : { visible : true },
			underline     : { visible : true },
			strikeThrough : { visible : true },
			
			justifyLeft   : { visible : true },
			justifyCenter : { visible : true },
			justifyRight  : { visible : true },
			justifyFull   : { visible : true },

			indent  : { visible : true },
			outdent : { visible : true },

			subscript   : { visible : true },
			superscript : { visible : true },
			
			undo : { visible : true },
			redo : { visible : true },
			
			insertOrderedList    : { visible : true },
			insertUnorderedList  : { visible : true },
			insertHorizontalRule : { visible : true },

			h4: {
				visible: true,
				className: 'h4',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h4>' : 'h4',
				tags: ['h4'],
				tooltip: 'Header 4'
			},
			h5: {
				visible: true,
				className: 'h5',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h5>' : 'h5',
				tags: ['h5'],
				tooltip: 'Header 5'
			},
			h6: {
				visible: true,
				className: 'h6',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h6>' : 'h6',
				tags: ['h6'],
				tooltip: 'Header 6'
			},
			
			cut   : { visible : true },
			copy  : { visible : true },
			paste : { visible : true },
			html  : { visible: true },
			increaseFontSize : { visible : true },
			decreaseFontSize : { visible : true },
			exam_html: {
				exec: function() {
					this.insertHtml('<abbr title="exam">Jam</abbr>');
					return true;
				},
				visible: true
			}
		  },
		  events: {
			click: function(event) {
				if ($("#click-inform:checked").length > 0) {
					event.preventDefault();
					alert("You have clicked jWysiwyg content!");
				}
			}
		  }
		});

		//$('#wysiwyg').wysiwyg("insertHtml", "Sample code");
	});
    })(jQuery);  
</script>
<div class="row-fluid"> 
  <div class="span12">
    <h2>Add a comment</h2>
    <br/>
  </div>
</div>  

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div class="row-fluid">  
      <div class="span12">
        <div class="alert alert-block alert-error fade in">
          <a class="close" data-dismiss="alert">×</a>
          <h2 class="alert-heading"><%= pluralize(@comment.errors.count, "error") %> 
            prohibited this comment from being saved:
          </h2>
          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row-fluid">  
    <div class="span12">
      <div id="toolbar" class="wmd-toolbar"></div>
    </div>
  </div>
  <div class="row-fluid">
    <!--%= f.text_area :taged_text, :id => "input", :class =>'wmd-input comment_text span12' %-->
    <%= f.text_area :text, :id => "wysiwyg", :class => 'comment_text span12'%>
  </div>
  <div class="row-fluid">  
    <div class="span12">
      <div id="preview" class="wmd-preview"></div>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :recipe_id %>        
      <%= f.submit :class => 'offset9 btn btn-large btn-primary' %>
    </div>
  </div>

<% end %>
