<div class="row">  
  <div id="sidebar" class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">          
            My Coode Cookbook
        </li>
        <li>          
          <%= link_to current_user do %>
            <i class="icon-book"></i>
            My recipes <span class="badge badge-info"><%= @user.recipes.size %></span>
          <%end%>          
        </li>
        <li>          
          <%= link_to :controller => "users", :action => "drafts", :id => @user.id do %>
            <i class="icon-pencil"></i>
            Drafts <span class="badge badge-info"><%= @drafts.size %></span>
          <%end%>
        </li>
        <li>
          <%= link_to :controller => "users", :action => "contributions", :id => @user.id do %>
            <i class="icon-file"></i>
            Contributions <span class="badge badge-info"><%= @user.contributions.size %></span>
          <%end%>
        </li>
        <li class="nav-header">
          Settings
        </li>
        <li>
          <%= link_to edit_user_path(@user) do %>
            <i class="icon-user"></i>
            Profile
          <%end%>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>  
            <i class="icon-lock"></i>
            Edit registration
          <%end%>
        </li>
        <li class="divider"></li>
        <li class="active">          
          <a href="#">           
            + new recipe
          </a>                     
        </li>
      </ul>
    </div>
  </div>
  <%= render 'taged_form' %>
</div>
