<div class="row">  
  <div id="sidebar" class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">          
            My Coode Cookbook
        </li>
        <li>     
          <%= link_to current_user do %>
              <i class="icon-book"></i>
              My recipes (<%= @user.recipes.size %>)
          <%end%>                  
        </li>
        <li class="active">        
          <a href="#">
            <i class="icon-pencil icon-white"></i>
            Drafts (<%= @drafts.size %>)
          </a>
        </li>
        <li>
          <%= link_to :controller => "users", :action => "contributions", :id => @user.id do %>
            <i class="icon-file"></i>
            Contributions (<%= @user.contributions.size %>)
          <%end%>
        </li>
        <li class="nav-header">
          Settings
        </li>
        <li>
          <%= link_to edit_user_path(@user) do %>
            <i class="icon-user"></i>
            Profile
          <%end%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to '+ new recipe', new_recipe_path %>          
        </li>
        <li class="divider"></li>
        <li>
          <i class="icon-tags"></i>
          <% @user_tags.each do |tag| %>
            <span class="label label-info"><%= link_to tag.name, {:action => 'user_search', :controller => 'users' ,:topic => tag.name}%></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span8 main">
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span5">
            <h2><%= page_entries_info @drafts %></h2>
          </div>  
          <div class="span3">
            <%= form_tag '/draftsearch' do %>
              <%= text_field_tag "topic", '', :class=>'span2 search-query margintop4', :placeholder => 'search your draft'%>             
            <% end %>
          </div>
        </div>
       <hr/>
      </div>      
    </div>
      <% @drafts.each do |recipe| %>
        <div class="row">
          <div class="span8">
            <h2>
              <%= link_to recipe.title, recipe %>
              <% if recipe.is_draft%>
                <span class="label label-important">draft</span>
              <% end %>
            </h2>
            <div class="row">
              <div class="span7">          
                <p>
                  created at <%= recipe.create_at %> <br/>
                  last update <%= recipe.update_at %>
                </p>
                <% recipe.tags.each do |tag| %>
                  <span class="label label-info"><%= link_to tag.name, {:action => 'draft_search', :controller => 'users' ,:topic => tag.name} %></span>
                <% end %>
              </div>
              <div class="span1">                 
                <%= link_to :controller => "recipes", :action => "show", :id => recipe.id do %>
                  <i class="icon-share-alt"></i>   
                <%end%>
                <%= link_to :controller => "recipes", :action => "edit", :id => recipe.id do %>
                  <i class="icon-edit"></i>            
                <%end%> 
                <br/><br/>  
                <%= button_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %> 
                <!--%= link_to :controller => "recipes", :confirm => 'Are you sure?', :method => :delete, :id => recipe.id do %>
                  <i class="icon-remove"></i-->  
                <!--%end%-->                  
              </div>
           </div>
           <hr/>
          </div>
        </div>      
      <% end %>
      <div class="row">
        <div class="span8">  
          <%= will_paginate @drafts, :class => 'my_class' %>
        </div>
      </div>
  </div>
</div>